name: "Run tests with pytest"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "main"
  schedule:
    - cron: "55 4 * * 4"

concurrency:
  group:
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    # prevent cronjobs from running on forks
    if:
      (github.event_name == 'schedule' && github.repository ==
      'maxkapur/asof.py') || (github.event_name != 'schedule')
    name: Run tests (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"] #, "macos-latest", "windows-latest"]
        python-version: ["3.12", "3.13", "3.14"]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          mamba-version: "*"
          # Tests assume only conda-forge channel enabled
          channels: conda-forge
          conda-remove-defaults: "true"
          python-version: ${{ matrix.python-version }}

      - name: Conda info
        shell: bash -el {0}
        run: conda info

      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m venv ./venv
          source ./venv/bin/activate
          python -m pip install --editable .[dev]

      - name: Pytest
        shell: bash -el {0}
        run: |
          source ./venv/bin/activate
          python -m pytest
